---
import { type CardProps as Props } from "./card-props";
import "bulma";

const { title, image, summary, address, slug, phone } = Astro.props;
---

<div class="card has-background-info-light">
  <a href=`/places/${slug}`>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src={image} alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{title}</p>
          <p class="subtitle is-6">{address} - {phone}</p>
        </div>
      </div>
      <div class="content subtitle">
        <p>{summary}</p>
      </div>
    </div>
  </a>
</div>
